<!DOCTYPE html>
<html>

    <head>
        <title>Task Manager</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'tasks/task_list.css' %}">
    </head>

    <body>
        <h1>Task List</h1>
        <a href="{% url 'task_create' %}">Add Task</a>
        <ul>
            {% for task in tasks %}
            <li>
                <strong>{{ task.title }}</strong>
                - {{ task.description }}
                - Completed: {{ task.completed }}
                <a href="{% url 'task_update' task.id %}">Edit</a>
                <a href="{% url 'task_delete' task.id %}">Delete</a>
            </li>
            {% endfor %}
        </ul>

        <a href="{% url 'logout %'}">Logout</a>
    </body>
</html>